<div class="panel panel-default" >
    <div class="panel-heading">
        <h3 class="panel-title">Power Details</h3>
        <ul class="panel-controls" style="margin-top: 2px;">
            <!--<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>-->
            <!--<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>-->
            <!--<li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>-->
        </ul>
    </div>

    <div class="panel-body theme-sp-yield-comparisons  scroll">
        <div class="row">
            <div class="col-md-12">
                <div id="powerdetails1container" style="width: 200px; height: 150px; float: left"></div>
                <div id="powerdetails2container" style="width: 200px; height: 150px; float: left"></div>
                <div id="powerdetails3container" style="width: 200px; height: 150px; float: left"></div>
                <!--<form role="form" class="form-horizontal">-->
                    <!--<div class="form-group" ng-repeat="yield in formattedSPYield" step="0.75" min="0" max="10" id="daily-yield-single-zone" data="yield" solid-single-zone-gauge="">-->
                    <!--</div>-->
                <!--</form>-->
            </div>
        </div>
    </div>
</div>