<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Site Map >  </h3>
        <ul class="panel-controls" style="margin-top: 2px;">
            <li><a href="#" class="panel-fullscreen js-panel-map" style="border: none"><span class="maximise"></span></a>
            </li>
        </ul>
    </div>
    <div class="panel-body js-map-panel-body" style="height: 600px;padding: 5px">
        <div class="js-single-site-map" style="height: 100%;width:100%;"></div>
    </div>
</div>