<div class="panel panel-default" refresher addclass="true">
    <div class="panel-heading">
        <h3 class="panel-title">Plant Performance</h3>
        <ul class="panel-controls" style=" margin-top: 2px;">
            <li><a href="#" class="panel-fullscreen js-panel-map" style=" border: none"><span class="maximise ng-isolate-scope theme-maximise"></span></a></li>
        </ul>
    </div>
    <div class="panel-body" style="height: 250px">
        <div class="row">
            <div class="col-md-12 js-pr-daily-view">

            </div>
        </div>
    </div>
</div>