<!--<div class="row theme-row-header-fixed" >-->
    <!--<table class="table js-to-show-header theme-to-show-header" >-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th style="width: 9.25%;display: inline-block;text-align: center;line-height: 30px;border-right: 1px solid #CCC">Zone Name</th>-->
            <!--<th style="width: 12.10%;display: inline-block;text-align: center;line-height: 30px;border-right: 1px solid #CCC">  Installed Cap. (kWp)</th>-->
            <!--<th style="width: 14.90%;display: inline-block;text-align: center;line-height: 30px;border-right: 1px solid #CCC">Active Power (kW)</th>-->
            <!--<th style="width: 13.90%;display: inline-block;text-align: center;line-height: 30px;border-right: 1px solid #CCC">Today's Energy (kWh)</th>-->
            <!--<th style="width: 15.7%;display: inline-block;text-align: center;line-height: 30px;border-right: 1px solid #CCC">Total Energy   (kWh)</th>-->
            <!--<th style="width: 17.4%;display: inline-block;text-align: center;line-height: 30px;border-right: 1px solid #CCC">POA Energy (Wh/m<sup>2</sup>)</th>-->
            <!--<th style="width: 15.8%;display: inline-block;text-align: center;line-height: 30px;border-right: 1px solid #CCC">CUF (%)</th>-->
        <!--</tr>-->
        <!--</thead>-->
    <!--</table>-->
<!--</div>-->



<table class="table dataTable datatable no-footer" id="js-zones-overview">
    <thead class="js-to-hide-header">
    <tr role="row">
        <th colspan="1" rowspan="1"
            style="border-bottom: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;line-height:10px;text-align:center;width:120px">
            Zone Name
        </th>
        <th colspan="1" rowspan="1"
            style="border-bottom: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;line-height:10px;width:120px">
            Installed Cap.
            (kWp)
        </th>
        <th colspan="1" rowspan="1"
            style="border-bottom: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;line-height:10px;">Active Power (kW)
        </th>
        <th colspan="1" rowspan="1"
            style="border-bottom: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;line-height:10px;">Today's Energy
            (kWh)
        </th>
        <th colspan="1" rowspan="1"
            style="border-bottom: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;line-height:10px;">Total Energy
            (kWh)
        </th>
        <th colspan="1" rowspan="1"
            style="border-bottom: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;line-height:10px;">POA Energy
            (Wh/m<sup>2</sup>)
        </th>
        <th colspan="1" rowspan="1"
            style="border-bottom: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;line-height:10px;">CUF (%)
        </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
