<table class="table datatable dataTable no-footer" role="grid">
    <thead>
        <tr role="row">

            <th class="sorting_disabled" style="">
                <input type="checkbox" class="js-mater-check"> </th>
            <th style="">Devices</th>
            <th style="">Status</th>
            <th style="">Raised At</th>
            <th style="">Resolved At</th>
            <th style="">Description</th>
            <th style="">Acknowledge</th>
            <th style="">Acknowledged By</th>
            <th style="">Edit</th>

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>