
<div id="homepage" class="pages" style="display: block">
    <div class="row" id="">
        <div class="col-md-12" style="padding: 0;">
            <!-- &lt;!&ndash; START WIDGET SLIDER &ndash;&gt;-->
            <div class="widget-carousel">
                <div class="owl-carousel" id="owl-example" style="width: 100%;">
                    <div>
                        <img src="../modules/login/images/IMG01_1920wl.jpg">
                        <p> 100+ MW Commissioned / Connected
                        <span>Fastest growing Solar Monitoring and Optimization Solution in India</span>
                        </p>
                    </div>
                    <div>
                        <img src="../modules/login/images/IMG02_1920wl.jpg">
                        <p> Powered by Erixis
                        <span>An Intelligent cloud based Internet of Things Platform</span>
                        </p>
                    </div>
                    <div>
                        <img src="../modules/login/images/IMG03_1920wl.jpg">
                        <p> Performance Analytics
                        <span>
                             Monitor plant performance in near real time through any device anywhere </span>
                        </p>
                    </div>
                </div>

            </div>
            <!-- &lt;!&ndash; END WIDGET SLIDER &ndash;&gt;-->
        </div>
    </div>
    <div class="row homepagetext" style="margin-top: 20px;">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center">Acquire</h3>

                </div>
                <div class="panel-body">
                    <div class="imgcontainer" style="margin-bottom: 15px;">
                        <span style="display: inline-block;margin: auto;padding: 12px;background: #00acf4;border-radius: 50%;">
                            <img src="../modules/login/images/icons/acq.png" >
                        </span>
                    </div>

                    SolarPulse collects data from devices, legacy systems, Networks, users and applications
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center">Analyze</h3>

                </div>
                <div class="panel-body">
                    <div class="imgcontainer" style="margin-bottom: 15px;">
                        <span style="display: inline-block;margin: auto;padding: 12px;background: #00acf4;border-radius: 50%;">
                            <img src="../modules/login/images/icons/analyse.png" >
                        </span>
                    </div>
                    Our Solution analyzes the data using specialized algorithms to generates valuable insights
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center">Act</h3>

                </div>
                <div class="panel-body">
                    <div class="imgcontainer" style="margin-bottom: 15px;">
                        <span style="display: inline-block;margin: auto;padding: 12px;background: #00acf4;border-radius: 50%;">
                            <img src="../modules/login/images/icons/art.png" >
                        </span>
                    </div>
                     Take quick and data backed decisions to improve overall operational efficiency
                </div>
            </div>
        </div>
    </div>
</div>

<div id="aboutpage" class="pages" style="display: none">
    <div class="row homepagetext">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center">ABOUT US</h3>

                </div>
                <div class="panel-body">
                    MachinePulse is the provider of rapidly scalable solutions addressing machine data requirements of industrial protocols, M2M and IOT segments with real time big data analytics and decision science on our indigenously developed cloud platform.
                </div>
            </div>
        </div>
        <div class="col-md-4" style="text-align: center">
            <div class="panel">
                <img src="../modules/login/images/icons/reixis.jpg" >
            </div>
        </div>
    </div>
    <div class="row">
        <div id="aboutpageImage" style="width: 100%;height: 450px;text-align: center;">
          <!--  <img src="../modules/login/images/ProductLOW.png" style="width: 70%;height: 100%;">-->
        </div>
    </div>
    <div class="row homepagetext" style="padding-top: 0">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an u
                    nknown printer took a galley of type and scrambled it to make a type specimen book. It has su
                    rvived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contactpage" class="pages" style="display: none;">
    <div class="row" id="location-mumbai" style="height:900px;width:100%;">
        <div id="address0" class="address col-md-4" style="position: absolute;right: 11%;top: 130px;">
            <h3 style="color: #145ab0;">MachinePulse, Mumbai</h3>
            <address>AFL House, Lok Bharati Complex,</address>
            <address>Marol Maroshi Road, Andheri East, 3rd floor,</address>
            <address>Mumbai, Maharashtra 400059</address>
            <h3 style="color:#145ab0;">Help/Support</h3>
            <address>097691 51135 / <a href="mailto:support@machinepulse.com">support@machinepulse.com</a>  </address>
        </div>
        <div id="address1" class="address col-md-4" style="position: absolute;right: 11%;top: 130px;display: none">
            <h3 style="color: #145ab0;">MachinePulse, Bangalore</h3>
            <address>HSR Layout Facility-1: #17-T, 17th Cross,</address>
            <address>19th MAIN, 3rd Sector,(Next to nandini cool joint)</address>
            <address>H.S.R Layout, Bangalore – 560102.</address>
            <h3 style="color:#145ab0;">Help/Support</h3>
            <address>097691 51135 / <a href="mailto:support@machinepulse.com">support@machinepulse.com</a>  </address>
        </div>
        <div id="address2" class="address col-md-4" style="position: absolute;right: 11%;top: 130px;display: none">

            <h3 style="color: #145ab0;">MachinePulse, Chennai</h3>
            <address>Hardy towers, 3rd & 4th Floors, Trill</address>
            <address>Infopark Limited, Rajiv Gandhi Salai (OMR)</address>
            <address>Tharamani, Chennai, Tamilnadu</address>

            <h3 style="color:#145ab0;">Help/Support</h3>
            <address>+91 0000 0000 / <a href="mailto:support@machinepulse.com">support@machinepulse.com</a>  </address>

        </div>
        <div id="map-canvas" style="height:500px;width: 500px;position: absolute;right: 13%;top:330px;box-shadow: 7px 7px 7px #888888;">

        </div>
    </div>
</div>

