<ul class="export-dropdown-menu">
     <li><a href="#"><img src="/modules/global/css/img/icons/xls.png" width="24"> XLS</a></li>
    <li><a href="#"><img src="/modules/global/css/img/icons/word.png" width="24"> Word</a></li>
    <li><a href="#"><img src="/modules/global/css/img/icons/ppt.png" width="24"> PowerPoint</a></li>
    <li class="divider"></li>
    <li><a href="#"><img src="/modules/global/css/img/icons/png.png" width="24"> PNG</a></li>
    <li><a href="#"><img src="/modules/global/css/img/icons/pdf.png" width="24"> PDF</a></li>
</ul>