<!--<label class="control-label col-md-4 col-sm-4 col-xs-3 theme-slide-val">{{data.value | number:2}}<span class="theme-slider-unit">{{data.units}}</span></label>-->
<!--<div class="col-md-4 col-sm-4 col-xs-8">-->
    <!--<input type="hidden" id="ise_disabled" name="ise_disabled" class="irs-hidden-input">-->
<!--</div>-->
<!--<label class="control-label col-md-4 col-sm-3 col-xs-8 theme-slider-text">{{data.subject}}</label>-->

<!--gauge_id-->


<div id="solidgaugecontainer" style="width: 200px; height: 150px; float: left"></div>