<table id="js-table-sitesOverview" class="table datatable js-table-sitesOverview table-responsive" custom-table="" options="options" data="sitesOverviewData">
    <thead>
        <tr role="row">
            <th colspan="1" rowspan="1" class="titlehelp">
                Site Name
            </th>
            <th colspan="1" rowspan="1" class="titlehelp"> Installed Capacity
                <br>(kWp)
            </th>
            <th colspan="1" rowspan="1" class="titlehelp"> Active Power
                <br>(kW)
            </th>
            <th colspan="1" rowspan="1" class="titlehelp"> Today's Energy
                <br>(kWh)
            </th>
            <th colspan="1" rowspan="1" class="titlehelp"> Total Energy
                <br>(kWh)
            </th>
            <th colspan="1" rowspan="1" class="titlehelp">
                Irradiance Energy
                <br>(Wh/m<sup>2</sup>)
            </th>
            <th colspan="1" rowspan="1" class="titlehelp"> CUF
                <br>(%)
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>