<div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer theme-inverter-table">
    <table class="table datatable_simple dataTable no-footer" id="DataTables_Table_inverterdata"
           role="grid" style="width: 100%;">
        <thead>
        <tr role="row">
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width:15%">
                Inverters
            </th>
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width:10%">
                Active Power
            </th>
            <!--<th class="sorting_disabled" rowspan="1" colspan="1" style="width:10%">-->
                <!--Specific Power-->
            <!--</th>-->
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width:15%">
                Specific Energy
            </th>
            <!--<th class="sorting_disabled" rowspan="1" colspan="1" style="width:10%">-->
                <!--Pr (%)-->
            <!--</th>-->
            <th class="sorting_disabled" rowspan="1" colspan="1" style=" width:10%">
                Efficiency (%)
            </th>
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width:10%">
                Alarm Count
            </th>
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width:10%">
                Dc Capacity
            </th>
            <!--<th class="sorting_disabled" rowspan="1" colspan="1" style="width:10%">-->
                <!--Last Reported Time-->
            <!--</th>-->
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>