$img_box_selected: "/modules/users/css/img/BOX_Selected.png";
$img_box_de_selected: "/modules/users/css/img/BOX_Deselected.png";

$img_edit_grey: "/modules/users/css/img/Edit72.png";
$img_edit_blue: "/modules/users/css/img/Edit_Blue72.png";