



/* -------------- Width ------------------------ */
$width_16px:16px;
$width_17px:17px;



/* -------------- Height ----------------------- */
$height_16px:16px;
$height_17px:17px;


/* -------------- Cursor ----------------------- */
$cursor_pointer:pointer;


/* -------------- Colors ----------------------- */
$color_white:#FFFFFF;
$color_dark_grey:#404041;
$color_dark_grey_shade:#586269;
$color_white_shade:#d4d5e2;
$color_white_shade1:#e3e3e6;
$color_black_shade:#231f20;


$color_create_button:#0678bf;
$color_delete_button:#848ea5;

/* -------------- Font Size -------------------- */

$font_size_14px:14px;
$font_size_18px:18px;


$font_size_10pt:10pt;
$font_size_11pt:11pt;
$font_size_12pt:12pt;


/* -------------- Border ----------------------- */

$border_black:1px solid $color_black_shade;

/* -------------- Font Weights ----------------- */

$font_weight:400;